@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.quick-fade-in { animation: fadeIn .25s; }

.fade-in { animation: fadeIn .5s; }
